<!--BOOK_INFORMATION-->
<img align="left" style="padding-right:10px;" src="figures/PDSH-cover-small.png">

*This notebook contains an excerpt from the [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do) by Jake VanderPlas; the content is available [on GitHub](https://github.com/jakevdp/PythonDataScienceHandbook).*

# Aggregation (a review) and Grouping

An essential piece of analysis of large data is efficient summarization: computing aggregations like ``sum()``, ``mean()``, ``median()``, ``min()``, and ``max()``, in which a single number gives insight into the nature of a potentially large dataset.
In this section, we'll explore aggregations in Pandas, from simple operations akin to what we've seen on NumPy arrays, to more sophisticated operations based on the concept of a ``groupby``.

For convenience, we'll use the same ``display`` magic function that we've seen in previous sections:

In [13]:
import numpy as np
import pandas as pd
import os
import shutil
df=pd.read_csv('shells.csv')
clean = os.getcwd() + '\\clean\\'
native = os.getcwd() + '\\nativepc\\'

In [14]:
df

                                   Unnamed: 0  shell  children  is_child
0    em\em001\00\shell\em001_01\data\em001_01    NaN       NaN      True
1    em\em001\00\shell\em001_19\data\em001_19    NaN       NaN      True
2    em\em001\00\shell\em001_06\data\em001_06    NaN       NaN      True
3    em\em001\00\shell\em001_10\data\em001_10    NaN       NaN      True
4    em\em001\00\shell\em001_14\data\em001_14    NaN       NaN      True
..                                        ...    ...       ...       ...
698  em\em126\00\shell\em126_83\data\em126_83    NaN       NaN      True
699  em\em126\00\shell\em126_87\data\em126_87    NaN       NaN      True
700  em\em126\00\shell\em126_91\data\em126_91    NaN       NaN      True
701  em\em126\00\shell\em126_95\data\em126_95    NaN       NaN      True
702  em\em126\00\shell\em126_99\data\em126_99    NaN       NaN      True

[703 rows x 4 columns]

In [18]:
for shell in df['Unnamed: 0']:
    delete = clean + shell[0:26]
    shutil.rmtree(delete, ignore_errors=True)
    delete = native + shell[0:26]
    shutil.rmtree(delete, ignore_errors=True)